{
    "require": {
	"slim/slim": "^3.1",
        "slim/php-view": "^2.0",
        "monolog/monolog": "^1.17"
    },
    "require-dev": {
        "apigen/apigen": "dev-master",
        "phpmd/phpmd": "@stable",
        "phpunit/phpunit": "^7.0",
        "roave/better-reflection": "dev-master#c87d856",
        "squizlabs/php_codesniffer": "3.*"
    },
    "autoload": {
        "psr-4": {
            "App\\TemplateManager\\": "src/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "AppTest\\TemplateManager\\": "test/"
        }
    },
    "minimum-stability": "stable",
    "prefer-stable": true
}
